version: "3.9"

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres-ubuntu22
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: dev_db
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
